/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 70px;
  font-family: "Lato","Helvetica Neue", "Helvetica", sans-serif;
}
.prefixes {
  font-family: monospace;
  font-size: 80%;
}
.click{
  cursor: hand;
  border-bottom: 1px dotted #ddd;
}

textarea, button, input, select {
  margin: 10px 5px 0 0;
}

textarea.form-control{
  font-family: monospace;
  font-size: 11px;
}

.overvlow-hidden{
  overflow:hidden;
}

.CodeMirror-code{
  font-size:12px;
  line-height:12px;
}

.pink{
  color:#FF00DD;
}

.filter-search{
  padding: 14px 1px ;
  margin-top: -25px;

}

.label-snorql{
  background-color: #ccf;
  color: #666;
}

.scrollable-menu {
  height: auto;
  max-height: 400px;
  overflow-x: hidden;
}

.headlines{
  padding-top: 5px;
  float: left;
  width: 100%;
}

.headlines>div{
  position: relative;
  margin-right: 5px;
  border-right: 1px solid #ddd;
  width:30%;
  float: left;
  padding: 15px;
  min-height: 300px;
}

.headlines>div .btn{
  position: absolute;
  bottom: 5px;
}
/*
 * Off Canvas
 * --------------------------------------------------
 */


@media screen and (max-width: 960px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
    overflow:hidden;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -57%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 60%; /* 6 columns */
    overflow:inherit;
  }

  .row-offcanvas-left.active {
    left: 60%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 60%; /* 6 columns */
  }
}

@media screen and (max-width: 700px) {
  .headlines>div{
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 98%;
    min-height: 5px;
    margin-bottom:10px;
  }
  .headlines>div .btn{
    position: relative;
    bottom: 5px;
  }
}
