/* Put your css in here */

.link { background: url(link.png) center right no-repeat; padding-right: 13px; }
.queryresults { border-collapse: collapse; margin-top: 0.3em;width:100%;font-size:90%; }
.queryresults td, .queryresults th { padding: 0.2em 0.4em; vertical-align: top; }
.uri { white-space: nowrap; }
.uri a, a.uri { text-decoration: none; }
.unbound { color: #888; }
.queryresults a small { font-size: 100%; color: #55a; }
.queryresults small { font-size: 100%; color: #666; }
.queryresults .property { white-space: nowrap; }
#rdficon { float: right; margin: 0.6em 1em; }
.directory li { margin-bottom: 0.5em; }
.directory small { font-size: 80%; color: #666; }

.snorql h1, .snorql h2 { color: #400; }
.snorql #header, .snorql .section { background: #ccf; }
.snorql .queryresults th { background: #88c; }
.snorql .queryresults .odd td { background: #f2f2ff;max-width: 30%; }
.snorql .queryresults .even td { background: #ddf;max-width: 30%; }

.browser h1, .browser h2 { color: #810; }
.browser #header, .browser .section { background: #beb; }
.browser .queryresults th { background: #7b7; }
.browser .queryresults .odd td { background: #f0fcf0; }
.browser .queryresults .even td { background: #d4f6d4; }

.uri .media{
	left: 0;
	top: 0;
	position: relative;
	width: 100%;
}

.snorql-container{
	margin: -7px 10px 0 10px;
}

.snorql-info{
	color:gray;
	padding: 10px;
}

.snorql-result{
	max-height: 38vh;
	overflow: scroll;
}

.snorql{
  background-color: #ccf;
  padding:5px;
}

.label-as-badge {
	border-radius: 1em;
}

.small {
	font-size: 93%;
}

.examples .label-as-badge {
	margin-right: 2px;
	background: #ccf;
	color: #428bca;
	font-size: 10px;
}

.example-list {
	max-height: 100vh;
	min-height: 580px;
	overflow-y: scroll;
}
.fixed_headers tbody tr:nth-child(even) {
	background-color: #dddddd;
}