<footer class="container-fluid small" ng-controller="ReleaseInfoCtrl">
    <div class="row">
      <div class="col-lg-12">

        <div class="col-md-12 text-left">
          <a class="ft-item" href="/copyright">&copy; 2011 - {{currentYear}} SIB Swiss Institute of Bioinformatics</a>
          <a class="ft-item" href="/legal-disclaimer">Legal disclaimer</a>
          <span class="ft-item">Data release {{releaseInfo.databaseRelease}}</span>
          <span class="ft-item">Application release {{releaseInfosFormatted}}</span>
          <a class="ft-item" href="https://github.com/calipho-sib/" target="_blank">
            <span class="fa fa-github" aria-hidden="true"></span> For developers
          </a>
        </div>
      </div>
    </div>
  </footer>
