    <div id="content" class="content " ng-controller="HelpCtrl">

      <!-- CONTENT -->
      <div class="container-fluid" ng-init="initHelp()">
        <div class="row">
        <!-- LEFT PANE -->
          <div class="col-sm-4 col-lg-3 sidebar">
            <help-toc />
          </div>

          <!-- CENTER PANE -->
          <div class="col-sm-8 col-sm-offset-4 col-lg-9 col-lg-offset-3 main" rdf-help></div>   
        </div>
      </div>
      <hr>
      <footer>
        <p>&copy; CALIPHO @ SIB 2014</p>
      </footer>
    </div><!--/.container-->